---
---

a {
  color: var(--primary); // TODO: Get rid of blue color by default, or match font colour
  transition: color var(--transition);
  overflow-wrap: break-word;
}

a:hover {
  color: var(--text);
}

a:not([href]) {
  color: var(--text);
}
